@model Cars.Models.IndividualButtonPartial

<a type="button" class="btn btn-sm @Model.ButtonType"  href="@Url.Action(Model.Action)@Model.ActionParameters" style="width:80px;">
    <span class="glyphicon glyphicon-@Model.Glyph"> @Model.Text</span>
    <span class="sr-only">@Model.Text</span>
</a>
